@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

body, form input[type="text"] {
    font-family: "Open Sans", sans-serif;
}

.pod { fill: #005; }
.cable { stroke: #999; stroke-width: 1px; }
.host { fill: #500; }

svg.main { display: block; margin: auto; z-index: -1; }

div.control {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    padding: 10px;
    background: #eee;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form ul li {
    margin-bottom: 8px; /* space between items */
    overflow: hidden; /* clear floats */
}

form span.f {
    display: inline-block;
    width: 140px;
    font-weight: bold;
    text-align: right;
    margin-right: 8px;
    float: left;
}

form input[type="text"] {
    width: 60px;
    border: 1px solid #ccc;
    padding: 2px 4px;
    font-size: 14px;
}

form span {
    display: inline-block;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

div.comment {
    color: #666;
    text-align: center;
    margin-top: 10px;
}

div.comment a { color: #66c; }
